---
import type { HTMLAttributes } from 'astro/types';
import { withBase } from '../utils/slugify';
import '../styles/components/header-link.css';

type Props = HTMLAttributes<'a'> & {
	activeClass?: string;
};

const { href, class: className, activeClass = 'header-link--active', ...props } = Astro.props;

const pathname = Astro.url.pathname;
const newhref = href ? withBase(String(href)) : withBase('/');
const isActive = href ? pathname === newhref || pathname === `${newhref}/` : false;

---

<a href={newhref} class:list={['header-link', className, isActive && activeClass]} {...props}>
	<slot />
</a>
