---
import BaseLayout from './BaseLayout.astro';
import '../styles/layouts/page-layout.css';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="page-layout">
        <slot />
    </div>
</BaseLayout>
